# Conjkuntos de Junção 

Exitem varias maneira sde unir dois ou mais conjuntos em Python. 

Os métodos `union()` e `update()` une todos os itens de ambos os conjuntos. 

O método `intersection()` mantém somente as duplicatas. 

O método `difference()` mantém os itens do primeiro conjunto que não estão nos outros conjuntos.

O método `symmetric_difference()` mentém todos os itens excerto as duplicatas. 


## O Union 

O método `union()` retorna um novo conjunto com todos os itens de ambos os conjuntos.

Junte dois conjuntos e forme um nome conjunto:

In [1]:
set1 = {'a','b','c'}
set2 = {2,4,6}
set3 = set1.union(set2)
print(set3)

{'c', 2, 4, 6, 'b', 'a'}

Você pode usar o operador `|` em vez do método `union()`, e você obterá o mesmo resultado

In [5]:

set1 = {'a','b','c'}
set2 = {2,4,6}
set3 = set1|set2
print(set3)

{'c', 2, 4, 6, 'b', 'a'}

## Junte vários conjuntos 

Todos os métodos e operadores de junção podem ser usados para unir varios conjuntos 

Ao usar o método union, basta adicionar mais conjuntos entre parênteses, separados por vírgulas:

In [3]:
set1 = {'a','b','c'}
set2 = {2,4,6}
set3 = {-5,-2,-33}
set4 ={True, False}
set5 = set1.union(set2, set3,set4)
print(set5)

{False, 'c', 2, True, 4, 6, 'b', 'a', -5, -2, -33}

Ao usar o operador `|`, separe os conjuntos com mais opreradores:

In [4]:
set1 = {'a','b','c'}
set2 = {2,4,6}
set3 = {-5,-2,-33}
set4 ={True, False}
set5 = set1 | set2 | set3| set4
print(set5)

{False, 'c', 2, True, 4, 6, 'b', 'a', -5, -2, -33}

## Junte um conjunto a uma tupla 

O método ``union()` permite unir um conjunto com outros tipos de dados, como listas ou tuplas. 

O resultado será um conjunto:

In [1]:
tupla = tuple(range(3,16,3))
conjunto = set(range(4,21,4))
join_element = conjunto.union(tupla)
print(join_element)

{3, 4, 6, 8, 9, 12, 15, 16, 20}

O operador `|` só permite unir conjunto com conjuntos e não com, outros tipos de dados como você pode fazer com o método `union()`

# Atualizar 

O método `update()` insere todos os itens de um conjunto em outro. 
O update() altera o conjunto original e não retorna um novo conjunto.

Exemplo
O update()método insere os itens do set2 no set1:

In [2]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 'a', 'b', 2, 3}

Ambos union()e update() excluirão quaisquer itens duplicados.

Interseção
Mantenha SOMENTE as duplicatas

O ``intersection()`` método retornará um novo conjunto, que contém apenas os itens que estão presentes em ambos os conjuntos.

Junte set1 e set2, mas mantenha apenas as duplicatas:

In [3]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

Você pode usar o &operador em vez do intersection()método e obterá o mesmo resultado.

Use & para juntar dois conjuntos:

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

O & operador só permite unir conjuntos com conjuntos, e não com outros tipos de dados como você pode fazer com o intersection()método.

O intersection_update()método também manterá SOMENTE as duplicatas, mas alterará o conjunto original em vez de retornar um novo conjunto.

Exemplo
Mantenha os itens que existem em ambos set1e set2:

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

Os valores Truee 1 são considerados o mesmo valor. O mesmo vale para Falsee 0.

Junte-se a conjuntos que contêm os valores True, False, 1e 0, e veja o que é considerado duplicado:

In [6]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

# Diferença
O difference() método retornará um novo conjunto que conterá apenas os itens do primeiro conjunto que não estão presentes no outro conjunto.

#### Exemplo
Mantenha todos os itens do set1 que não estão no set2:

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

Você pode usar o -operador em vez do difference()método e obterá o mesmo resultado.

Exemplo

Use -para juntar dois conjuntos:

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

 O - operador só permite unir conjuntos com conjuntos, e não com outros tipos de dados como você pode fazer com o difference()método.

 O difference_update() método também manterá os itens do primeiro conjunto que não estão no outro conjunto, mas alterará o conjunto original em vez de retornar um novo conjunto.

 Use o difference_update()método para manter os itens que não estão presentes em ambos os conjuntos:

In [9]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

## Diferenças Simétricas
O symmetric_difference() método manterá apenas os elementos que NÃO estão presentes em ambos os conjuntos.

Exemplo
Mantenha os itens que não estão presentes em ambos os conjuntos:

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'cherry', 'microsoft'}

Você pode usar o ^operador em vez do symmetric_difference()método e obterá o mesmo resultado.

Exemplo

Use ^para juntar dois conjuntos:

In [11]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'cherry', 'microsoft'}

 symmetric_difference_update()método também manterá tudo, exceto as duplicatas, mas alterará o conjunto original em vez de retornar um novo conjunto.

Exemplo
Use o symmetric_difference_update()método para manter os itens que não estão presentes em ambos os conjuntos:

In [12]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'banana', 'cherry', 'microsoft'}