Claro, aqui estão alguns exercícios para praticar com tuplas em Python:

### Exercício 1: Criação e Acesso Básico
1. Crie uma tupla chamada `frutas` contendo as seguintes frutas: "maçã", "banana", "cereja".
2. Imprima a tupla completa.
3. Acesse e imprima a primeira fruta da tupla.
4. Acesse e imprima a última fruta da tupla.

In [1]:
frutas = ('banana','maçã','cereja')
print(frutas)
print(frutas[0])
print(frutas[2])

('banana', 'maçã', 'cereja')
banana
cereja

### Exercício 2: Fatiamento de Tuplas
1. Crie uma tupla chamada `numeros` contendo os números de 1 a 10.
2. Imprima os primeiros 3 números da tupla.
3. Imprima os últimos 3 números da tupla.
4. Imprima os números do índice 3 ao 6 (inclusive).

In [7]:
numeros = tuple(range(1,11))
print(numeros)

# imprimindo os 3 primeiros valores 
tres_primeiros_valores = numeros[:3]
print(tres_primeiros_valores)

# imprimindo os 3 últimos valores 
tres_ultimos_valores = numeros[-3:]
print(tres_ultimos_valores)

# imprimindo os numeros do indice 3 ao 6:
indices = numeros[3:7]
print(indices)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(8, 9, 10)
(4, 5, 6, 7)

### Exercício 3: Desempacotamento de Tuplas
1. Crie uma tupla chamada `pessoa` contendo o nome, idade e cidade de uma pessoa (por exemplo: ("João", 25, "São Paulo")).
2. Desempacote a tupla em variáveis separadas `nome`, `idade` e `cidade`.
3. Imprima as variáveis separadamente.

In [8]:
pessoa = ("João", 25, "São Paulo")
nome,idade,cidade = pessoa
print(nome,idade,cidade)

João 25 São Paulo

### Exercício 4: Verificação de Existência
1. Crie uma tupla chamada `cores` contendo as cores: "vermelho", "verde", "azul", "amarelo".
2. Verifique se a cor "verde" está na tupla e imprima o resultado.
3. Verifique se a cor "roxo" está na tupla e imprima o resultado.

In [9]:
cores =("vermelho", "verde", "azul", "amarelo")

if 'verde' in cores:
    print('Sim, existe')

Sim, existe

In [10]:
cores =("vermelho", "verde", "azul", "amarelo")

if 'roxe' in cores:
    print('Sim, existe')
else:
    print('Não existe')

Não existe

### Exercício 5: Contagem e Índice
1. Crie uma tupla chamada `alunos` contendo os nomes de alunos: "Ana", "Carlos", "Maria", "Carlos", "José".
2. Conte quantas vezes o nome "Carlos" aparece na tupla e imprima o resultado.
3. Encontre o índice da primeira ocorrência do nome "Maria" e imprima o resultado.

In [12]:
alunos = ("Ana", "Carlos", "Maria", "Carlos", "José")
print(alunos.count('Carlos'))
print(alunos.index('Maria'))

2
2

### Exercício 6: Concatenando Tuplas
1. Crie duas tuplas: `tupla1` contendo os números 1, 2, 3 e `tupla2` contendo os números 4, 5, 6.
2. Concatene as duas tuplas em uma nova tupla chamada `tupla3`.
3. Imprima a tupla resultante `tupla3`.

In [16]:
tupla1 = (1,2,3) 
tupla2 = (4,5,6)
tupla3 = tupla1 + tupla2
print(tupla3)

(1, 2, 3, 4, 5, 6)

### Exercício 7: Tuplas Aninhadas
1. Crie uma tupla chamada `turmas` contendo duas tuplas internas: ("Turma A", 30 alunos) e ("Turma B", 25 alunos).
2. Acesse e imprima a quantidade de alunos na "Turma A".
3. Acesse e imprima a quantidade de alunos na "Turma B".

In [20]:
turmas = (("Turma A", '30 alunos'),("Turma B", '25 alunos'))
print(turmas[0][1])
print(turmas[1][1])

30 alunos
25 alunos

### Exercício 8: Conversão de Lista para Tupla
1. Crie uma lista chamada `animais` contendo os seguintes animais: "gato", "cachorro", "coelho".
2. Converta a lista `animais` em uma tupla chamada `tupla_animais`.
3. Imprima a tupla resultante `tupla_animais`.

In [21]:
animais = ["gato", "cachorro", "coelho"]
tupla_animals = tuple(animais)
print(tupla_animals)

('gato', 'cachorro', 'coelho')

### Exercício 9: Comprimento da Tupla
1. Crie uma tupla chamada `planetas` contendo os nomes dos planetas do Sistema Solar.
2. Calcule e imprima o comprimento da tupla `planetas`.

In [22]:
planetas = ('Terra','Plutão','Marte')
comprimento = len(planetas)
print(planetas)

('Terra', 'Plutão', 'Marte')

### Exercício 10: Imutabilidade das Tuplas
1. Crie uma tupla chamada `livros` contendo os títulos: "1984", "Admirável Mundo Novo", "Fahrenheit 451".
2. Tente alterar o segundo elemento da tupla para "Brave New Wo"rld e observe o que acontece (comentando no código).
3. Explique em um comentário por que a alteração não é permitida.

In [ ]:
livros = ("1984", "Admirável Mundo Novo", "Fahrenheit 451")
livros[2] = tuple('Brave New World')
print(livros)

# Vai da erro porquê é impossivel alterar trupla dessa forma, para alterar precisa fazer conversão de tipo de dados, alterar e retornar a ser uma tupla novamente