# Dados de formato errado

 Células com formato errado podem dificultar, ou mesmo impossibilitar, a analise de dados.

Parra corrgi-lo, você tem duas opções: remover as linhas ou converter todas as células no colunas no mesmo formato.


# Converter em um formato correto

Em nosso Data Frame, temos duas células com o formato errado. Confira a linha 22 e 26, a coluna 'Data' deve ser uma cadeia de caracteres que representa um data:



```
     Duração Data Pulso Maxpulse Calorias
  0 60 '01/12/2020' 110 130 409,1
  1 60 '02/12/2020' 117 145 479,0
  2 60 '03/12/2020' 103 135 340,0
  3 45 '2020/12/04' 109 175 282,4
  4 45 '05/12/2020' 117 148 406,0
  5 60 '2020/12/06' 102 127 300,0
  6 60 '2020/12/07' 110 136 374,0
  7 450 '2020/12/08' 104 134 253,3
  8 30 '2020/12/09' 109 133 195,1
  9 60 '2020/12/10' 98 124 269,0
  10 60 '2020/12/11' 103 147 329,3
  11 60 '2020/12/12' 100 120 250,7
  12 60 '2020/12/12' 100 120 250,7
  13 60 '2020/12/13' 106 128 345,3
  14 60 '2020/12/14' 104 132 379,3
  15 60 '2020/12/15' 98 123 275,0
  16 60 '2020/12/16' 98 120 215,2
  17 60 '2020/12/17' 100 120 300,0
  18 45 '2020/12/18' 90 112 NaN
  19 60 '2020/12/19' 103 123 323,0
  20 45 '2020/12/20' 97 125 243,0
  21 60 '2020/12/21' 108 131 364,2
  22 45 NaN 100 119 282,0
  23 60 '2020/12/23' 130 101 300,0
  24 45 '2020/12/24' 105 132 246,0
  25 60 '2020/12/25' 102 126 334,5
  26 60 20201226 100 120 250,0
  27 60 '2020/12/27' 92 118 241,0
  28 60 '2020/12/28' 103 132 NaN
  29 60 '2020/12/29' 100 132 280,0
  30 60 '30/12/2020' 102 129 380,3
  31 60 '31/12/2020' 92 115 243,0


```

Vamos tentar converter todas as células da coluna ‘Data’ em datas.

Pandas tem um método para isso:  **to_datetime()**

In [1]:
import pandas as pd

df = pd.read_csv('./dados.csv')
print(df.to_string())

           Duration          Date  Pulse  Maxpulse  Calories
0      0         60  '2020/12/01'    110       130     409.1
1      1         60  '2020/12/02'    117       145     479.0
2      2         60  '2020/12/03'    103       135     340.0
3      3         45  '2020/12/04'    109       175     282.4
4      4         45  '2020/12/05'    117       148     406.0
5      5         60  '2020/12/06'    102       127     300.0
6      6         60  '2020/12/07'    110       136     374.0
7      7        450  '2020/12/08'    104       134     253.3
8      8         30  '2020/12/09'    109       133     195.1
9      9         60  '2020/12/10'     98       124     269.0
10     10        60  '2020/12/11'    103       147     329.3
11     11        60  '2020/12/12'    100       120     250.7
12     12        60  '2020/12/12'    100       120     250.7
13     13        60  '2020/12/13'    106       128     345.3
14     14        60  '2020/12/14'    104       132     379.3
15     15        60  '2020/12/15'     98       123     275.0
16     16        60  '2020/12/16'     98       120     215.2
17     17        60  '2020/12/17'    100       120     300.0
18    18        45  '2020/12/18'     90       112       None
19     19        60  '2020/12/19'    103       123     323.0
20     20        45  '2020/12/20'     97       125     243.0
21     21        60  '2020/12/21'    108       131     364.2
22    22        45           None    100       119     282.0
23     23        60  '2020/12/23'    130       101     300.0
24     24        45  '2020/12/24'    105       132     246.0
25     25        60  '2020/12/25'    102       126     334.5
26     26        60  '2020/12/26'    100       120     250.0
27     27        60  '2020/12/27'     92       118     241.0
28    28        60  '2020/12/28'    103       132       None
29     29        60  '2020/12/29'    100       132     280.0
30     30        60  '2020/12/30'    102       129     380.3
31     31        60  '2020/12/31'     92       115     243.0

In [2]:
df.dropna(inplace= True)

In [3]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0     0         60  '2020/12/01'    110       130 ...
1     1         60  '2020/12/02'    117       145 ...
2     2         60  '2020/12/03'    103       135 ...
3     3         45  '2020/12/04'    109       175 ...
4     4         45  '2020/12/05'    117       148 ...
5     5         60  '2020/12/06'    102       127 ...
6     6         60  '2020/12/07'    110       136 ...
7     7        450  '2020/12/08'    104       134 ...
8     8         30  '2020/12/09'    109       133 ...
9     9         60  '2020/12/10'     98       124 ...
10    10        60  '2020/12/11'    103       147 ...
11    11        60  '2020/12/12'    100       120 ...
12    12        60  '2020/12/12'    100       120 ...
13    13        60  '2020/12/13'    106       128 ...
14    14        60  '2020/12/14'    104       132 ...
15    15        60  '2020/12/15'     98       123 ...
16    16        60  '2020/12/16'     98       120 ...
17    17        60  '2020/12/17'    100       120 ...
18    18        45  '2020/12/18'     90       112 ...
19    19        60  '2020/12/19'    103       123 ...
20    20        45  '2020/12/20'     97       125 ...
21    21        60  '2020/12/21'    108       131 ...
22    22        45           None    100       119...
23    23        60  '2020/12/23'    130       101 ...
24    24        45  '2020/12/24'    105       132 ...
25    25        60  '2020/12/25'    102       126 ...
26    26        60  '2020/12/26'    100       120 ...
27    27        60  '2020/12/27'     92       118 ...
28    28        60  '2020/12/28'    103       132 ...
29    29        60  '2020/12/29'    100       132 ...
30    30        60  '2020/12/30'    102       129 ...
31    31        60  '2020/12/31'     92       115 ...

In [4]:
# Valores duplicados
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [5]:
# Para remover valores duplicados, use o método .drop_duplicates()
df.drop_duplicates(inplace=True)

In [6]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0     0         60  '2020/12/01'    110       130 ...
1     1         60  '2020/12/02'    117       145 ...
2     2         60  '2020/12/03'    103       135 ...
3     3         45  '2020/12/04'    109       175 ...
4     4         45  '2020/12/05'    117       148 ...
5     5         60  '2020/12/06'    102       127 ...
6     6         60  '2020/12/07'    110       136 ...
7     7        450  '2020/12/08'    104       134 ...
8     8         30  '2020/12/09'    109       133 ...
9     9         60  '2020/12/10'     98       124 ...
10    10        60  '2020/12/11'    103       147 ...
11    11        60  '2020/12/12'    100       120 ...
12    12        60  '2020/12/12'    100       120 ...
13    13        60  '2020/12/13'    106       128 ...
14    14        60  '2020/12/14'    104       132 ...
15    15        60  '2020/12/15'     98       123 ...
16    16        60  '2020/12/16'     98       120 ...
17    17        60  '2020/12/17'    100       120 ...
18    18        45  '2020/12/18'     90       112 ...
19    19        60  '2020/12/19'    103       123 ...
20    20        45  '2020/12/20'     97       125 ...
21    21        60  '2020/12/21'    108       131 ...
22    22        45           None    100       119...
23    23        60  '2020/12/23'    130       101 ...
24    24        45  '2020/12/24'    105       132 ...
25    25        60  '2020/12/25'    102       126 ...
26    26        60  '2020/12/26'    100       120 ...
27    27        60  '2020/12/27'     92       118 ...
28    28        60  '2020/12/28'    103       132 ...
29    29        60  '2020/12/29'    100       132 ...
30    30        60  '2020/12/30'    102       129 ...
31    31        60  '2020/12/31'     92       115 ...